<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game Market</title>

	<!-- styles -->
	<link rel="stylesheet" href="styles/reset.css">
	<link rel="stylesheet" href="styles/jqueryUI.css">
	<link rel="stylesheet" href="styles/main.css">


	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Merriweather:700italic,400italic,400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css">


	<!-- scripts -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.amd.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

	<script src="js/data.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/main.js"></script>
</head>
<body>

	<div class="wrapper">
		<div class="header">
			<ul class="nav">
				<li><a href="#">Главная</a></li>
				<li><a href="#">Категории</a></li>

			</ul>
			<div id="logIn" >
				<form id="singIn" >
					<label >Логин<input type="text"></label>
					<label >Пароль<input type="password"></label>
					<button class="logButton" type="submit">Вход</button>
				</form>

				<ul class="social">
					<p>или</p>
					<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div id="logOut" class="hidden">
				Привет, <b>Валера</b>!!!
				<button class="logButton">Выход</button>
			</div>
			<a class="basket" href="#">
				Корзина
				<div class="basketPoints">2</div>
			</a>
			<div class="basketDropDown ">
				<button class="close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
				<div class="basketField">
					<a href="" class="basketItem">
						<img src="img/2346654-battlefield3_karkand.jpg" alt="game">
						<div class="name">battlefield 3</div>
						<div class="price">50 грн</div>
						<button class="del"><i class="fa fa-times" aria-hidden="true"></i></button>
					</a>
				</div>
				<div class="basketField">
					<a href="" class="basketItem">
						<img src="img/2346654-battlefield3_karkand.jpg" alt="game">
						<div class="name">battlefield 3</div>
						<div class="price">50 грн</div>
						<button class="del"><i class="fa fa-times" aria-hidden="true"></i></button>
					</a>
				</div>

			</div>
		</div>
		<div class="aside">
			<h3>Категории</h3>
			<div id="price">

				<h4>Цена:</h4>
				<label for="amount">Price range:
					<input type="text" id="amount" readonly>
					<div id="slider-range"></div>
				</label>

			</div>

			<div id="genre"></div>
			<script id="genre1" type="text/x-handlebars-template">
				<h4>{{h4}}</h4>
				<!-- <ol>
				{{#each iputs}}
				<li>{{{lable}}}</li>
				{{/each}}
				</ol> -->
			</script>

			<!-- <div id="platform"></div>
			<script id="platform" type="text/x-handlebars-template">
				<h4>{{h4}}</h4>

				<label><input type="checkbox" name="platform" value="PC" >PC</label>
				<label><input type="checkbox" name="platform" value="X-Box" >X-Box</label>
				<label><input type="checkbox" name="platform" value="PS4" >PS4</label>
			</script> -->

			<button id="asideButtonCheck">Ok!</button>
		</div>
		<div class="main" id="main" >


		</div>
		<div class="footer">
			<p>&#169; Copyright 2016 by DREAMTEAMSPALAH</p>
		</div>
	</div>

</body>
</html>